.main__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  height: 27px;
  color: #fff;
}

.main__input:first-of-type {
  margin-top: 45px;
}

.main__input::placeholder {
  color: #ccc;
}
