.main__button {
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  margin-top: 186px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
