.profile__info-subtitle {
  grid-column: span 2;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 30ch;
}

@media screen and (max-width: 768px) {
  .profile__info-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
